@charset "UTF-8";
* {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none; }

body {
  margin-bottom: 200px; }

a {
  color: inherit;
  text-decoration: none; }

.wrap {
  width: 600px;
  max-width: 96%;
  margin-right: auto;
  margin-left: auto; }

.header {
  margin: 60px 0; }
  .header h1 {
    text-align: center;
    font-weight: normal;
    font-size: 26px; }
    .header h1:hover {
      color: #49e; }

.posts {
  margin-bottom: 100px; }
  .posts .post {
    margin-bottom: 30px; }
    .posts .post .votes {
      width: 50px;
      height: 50px;
      line-height: 46px;
      border: 1px solid #ccc;
      border-radius: 50%;
      float: left;
      text-align: center;
      font-size: 14px;
      cursor: pointer; }
      .posts .post .votes:hover {
        border-color: #49e; }
      .posts .post .votes.voted {
        border-color: #49e;
        color: #49e; }
        .posts .post .votes.voted .upvote:before {
          content: "+"; }
      .posts .post .votes .upvote {
        font-size: 18px; }
        .posts .post .votes .upvote:before {
          content: "∧"; }
    .posts .post .content {
      padding-left: 70px; }
      .posts .post .content h3 {
        margin-bottom: 10px; }
        .posts .post .content h3 .title {
          font-size: 20px;
          font-weight: normal; }
          .posts .post .content h3 .title.hasUrl {
            color: #49e; }
            .posts .post .content h3 .title.hasUrl:hover {
              text-decoration: underline; }
      .posts .post .content .description {
        font-size: 14px;
        margin-bottom: 10px; }
      .posts .post .content .comments a {
        font-size: 14px;
        color: #999; }
        .posts .post .content .comments a:hover {
          text-decoration: underline; }

.new h4 {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 20px; }

.new form > * {
  width: 100%;
  max-width: 100%;
  border-radius: 4px; }

.new form label {
  font-size: 14px;
  cursor: pointer; }

.new form input[type=text],
.new form textarea {
  border: 1px solid #ccc;
  margin: 0 0 15px;
  padding: 5px;
  font-size: 16px; }

.new form input[type=submit] {
  padding: 10px 0;
  text-align: center;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  background: #ccc; }
  .new form input[type=submit]:hover {
    background: #49e; }

.comments .comment {
  font-size: 14px;
  margin-bottom: 30px; }
  .comments .comment .upvote {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    line-height: 16px;
    border: 1px solid #ccc;
    font-size: 16px;
    text-align: center;
    border-radius: 50%;
    color: #ccc;
    cursor: pointer; }
    .comments .comment .upvote:hover {
      border-color: #49e;
      color: #49e; }
    .comments .comment .upvote:before {
      content: "∧"; }
    .comments .comment .upvote.voted {
      border-color: #49e;
      color: #49e; }
      .comments .comment .upvote.voted:before {
        content: "+"; }
      .comments .comment .upvote.voted ~ .meta .count {
        color: #49e; }
  .comments .comment .meta {
    line-height: 20px;
    min-height: 20px;
    padding-left: 25px;
    margin-bottom: 5px; }
    .comments .comment .meta .count {
      color: #ccc;
      margin-right: 10px; }
    .comments .comment .meta .author {
      font-weight: bold; }

.comments .newComment {
  margin-top: 100px; }
  .comments .newComment h4 {
    font-size: 14px;
    font-weight: normal;
    text-align: center; }
  .comments .newComment form > * {
    width: 100%;
    max-width: 100%;
    border-radius: 4px; }
  .comments .newComment form label {
    font-size: 12px;
    cursor: pointer; }
  .comments .newComment form input[type=text],
  .comments .newComment form textarea {
    border: 1px solid #ccc;
    margin: 0 0 15px;
    padding: 5px;
    font-size: 14px; }
  .comments .newComment form input[type=submit] {
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    background: #ccc; }
    .comments .newComment form input[type=submit]:hover {
      background: #49e; }
